table {
    border-collapse: collapse;
}

table, th, td {
    border: solid 1px;
}

th, td {
    padding-left: 4px;
    padding-right: 4px;
}

table.panel { 
    border: solid 10px;
    border-Color: #E67E22;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.clicked{
  background-color: #E67E22;
;
}

.notClicked{
  background-color: #333;
}